body{
  /* background: rgb(95, 146, 163); */

  background: #005AA7;  /* fallback for old browsers */
 
  /* color:black; */
}
.appy{
  text-align: center;
  margin: 50px 0px 0px 0px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}